@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply p-0;
    @apply m-0;
    @apply box-border;
  }

  li {
    @apply list-none;
  }
}

@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
  }
}
